<!-- {{section|c}} Section -->
<div>
  <!-- section header -->
  <button
    class="btn-outline btn section-header text-3xl font-bold font-serif max-w-7xl w-full flex-center cursor-pointer mx-auto mt-8 mb-2"
    id="{{section}}-section-header"
  >
    {{section|c}}
  </button>
  <!-- end section header -->

  <!-- section components -->
  <div id="{{section}}" class="flex-1 section-container hidden">
    <!--
        PUT SECTION COMPONENTS HERE
    -->
  </div>
  <!-- end section components -->
</div>
<!-- end {{section|c}} Section -->
