<!-- {Section} Section -->
<div>
    <!-- section header -->
    <div class="flex justify-center mx-auto max-w-7xl cursor-pointer text-primary-500 hover:text-primary-700 section-header border border-primary-500 hover:border-primary-700 py-2 mt-8 mb-2 rounded-full"
         id="{section}-section-header"
    >
        <h2 class="text-3xl font-bold font-serif">{Section}</h2>
    </div>
    <!-- end section header -->

    <!-- section components -->
    <div id="{section}" class="flex-1">
        <!--
            PUT SECTION COMPONENTS HERE
        -->
    </div>
    <!-- end section components -->
</div>
<!-- end {Section} Section -->
