<!-- {component} -->
<div>
    <!-- header and toggle -->
    <div class="flex gap-4">
        <!-- header -->
        <div class="flex flex-col justify-center">
            <h3 class="text-gray-600 text-2xl font-bold font-serif">{Component}</h3>
        </div>
        <!-- end header -->

      <!-- toggle HTML code -->
      <button id="{component}-html-show-code"
              class="showCode bg-primary-500 rounded-lg my-4 text-white hover:text-primary-200 hover:bg-primary-700 py-2 px-4">
        Toggle HTML Code
      </button>
      <!-- end toggle HTML code -->

        <!-- toggle JS code -->
        <button id="{component}-js-show-code"
                class="hidden showCode bg-primary-500 rounded-lg my-4 text-white hover:text-primary-200 hover:bg-primary-700 py-2 px-4">
            Toggle JS Code
        </button>
        <!-- end toggle JS code -->
    </div>
    <!-- end header and toggle -->

  <!-- code HTML display -->
  <div class="bg-gray-100 m-4 px-4 rounded-lg">
        <pre class="hidden">
            <code id="{component}-html-code" class="component-code block rounded-lg overflow-scroll text-xs language-html"></code>
        </pre>
  </div>
  <!-- end code HTML display -->

    <!-- code JS display -->
    <div class="bg-gray-100 m-4 px-4 rounded-lg">
        <pre class="hidden">
            <code id="{component}-js-code" class="component-code block rounded-lg overflow-scroll text-xs language-js"></code>
        </pre>
    </div>
    <!-- end code JS display -->

    <div class="w-full border-b border-primary-500 border-dashed"></div>
    <!-- {Component} Component -->
    <div id="{component}">
        <!--
            WRITE COMPONENT CODE HERE
        -->
    </div>
    <!-- end {Component} Component -->
    <div class="w-full border-b border-primary-500 border-dashed"></div>
</div>
<!-- end {component} -->
