<!-- {Section} Section -->
<div>
  <!-- section header -->
  <button class="
            btn-hollow section-header text-3xl font-bold font-serif max-w-7xl w-full
            flex justify-center cursor-pointer mx-auto py-2 mt-8 mb-2 rounded-full"
          id="{section}-section-header"
  >
    {Section}
  </button>
  <!-- end section header -->

  <!-- section components -->
  <div id="{section}" class="flex-1">
    <!--
        PUT SECTION COMPONENTS HERE
    -->
  </div>
  <!-- end section components -->
</div>
<!-- end {Section} Section -->
