<!-- {component} -->
<div class="mb-16 max-w-7xl mx-auto">
    <!-- header and toggle -->
    <div class="flex gap-4 mx-auto">
        <!-- header -->
        <div class="flex flex-col justify-center">
            <p class="text-gray-600 text-2xl font-bold font-serif">{Component}</p>
        </div>
        <!-- end header -->

      <!-- toggle HTML code -->
      <button id="{component}-html-show-code"
              class="showCode my-4 btn btn-md">
        Toggle HTML Code
      </button>
      <!-- end toggle HTML code -->

        <!-- toggle JS code -->
        <button id="{component}-js-show-code"
                class="hidden showCode my-4 btn btn-md">
            Toggle JS Code
        </button>
        <!-- end toggle JS code -->
    </div>
    <!-- end header and toggle -->

  <!-- code HTML display -->
  <div class="bg-gray-200 mb-8 px-4 rounded-lg">
        <pre class="hidden max-w-6xl mx-auto">
            <code id="{component}-html-code" class="component-code block rounded-lg overflow-auto text-xs language-html"></code>
        </pre>
  </div>
  <!-- end code HTML display -->

    <!-- code JS display -->
    <div class="bg-gray-200 mb-8 px-4 rounded-lg">
        <pre class="hidden max-w-6xl mx-auto">
            <code id="{component}-js-code" class="component-code block rounded-lg overflow-auto text-xs language-js"></code>
        </pre>
    </div>
    <!-- end code JS display -->

    <!-- {Component} Component -->
    <div id="{component}" class="py-8 bg-gray-200 rounded-xl">
      <div class="max-w-6xl mx-auto">
        <div
          class="w-full h-full max-w-full min-h-[200px] bg-white overflow-auto rounded-lg translate-x-0 resize-x"
          title="{component}-frame"
          id="{component}-frame"
        ></div>
      </div>
    </div>
    <!-- end {Component} Component -->
</div>
<!-- end {component} -->
