<div id="{{selector|r}}" class="full">
  <div class="bg-img h-device bg-full h-full relative pt-16 pl-8">
    <div class="text-white px-4 max-w-[66%] sm:max-w-[50%] mb-8">
      <p class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
        Where tradition meets innovation: we're a multi-generational clothier
        dedicated to crafting timeless pieces
      </p>
    </div>
    <button class="btn btn-lg btn-light-outline">Learn About Us</button>
  </div>
</div>

<style>
  .bg-img {
    background-image: url(../img/man-in-chair.jpg?as=webp&width=1440),
      url(../img/man-in-chair.jpg?as=webp&height=768),
      url(../img/man-in-chair.jpg?as=webp&&height=667);
  }
</style>
