<div id="{{selector|r}}">
  <div class="py-16">
    <div class="grid grid-cols-3 gap-16 mb-8 lg:mb-16">
      <div
        class="col-span-3 lg:col-span-1 lg:mx-auto flex flex-col justify-center"
      >
        <img
          src="../img/180x180.svg"
          alt="Logo"
          height="300"
          width="300"
          class="rounded-full border-2 border-primary-400 mx-auto lg:mx-0"
        />
      </div>
      <div class="col-span-3 lg:col-span-2 flex flex-col justify-between py-8">
        <div class="flex flex-col lg:flex-row gap-6 lg:gap-2 mb-12 lg:mb-6">
          <div class="text-center">
            <span class="bg-gray-100 rounded-lg text-primary-400 py-2 px-4"
              >Web Designer</span
            >
          </div>
          <div class="text-center">
            <span class="bg-gray-100 rounded-lg text-primary-400 py-2 px-4"
              >Web Developer</span
            >
          </div>
          <div class="text-center">
            <span class="bg-gray-100 rounded-lg text-primary-400 py-2 px-4"
              >Copywriter</span
            >
          </div>
        </div>
        <div class="px-8 lg:px-0 max-w-3xl mx-auto lg:mx-0">
          <p class="text-3xl mb-4 font-serif">Hello, I'm Phillip Rearick</p>
          <p class="text-gray-600 text-lg">
            My name is Phillip Rearick. I am the owner of PR Web Consulting.
            With over 10 years of experience in web design and development, I
            specialize in creating beautiful, user-friendly websites that help
            businesses grow. I'm passionate about design and I'm always looking
            for new ways to create websites that are both visually appealing and
            functional.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="lg:w-2/3 mx-auto">
        <div class="text-gray-700 mx-8 lg:px-0">
          <p class="mb-4">
            I have a proven track record of success. I've worked with a variety
            of clients, from small businesses to large corporations. I'm always
            willing to go the extra mile to make sure my clients are happy with
            their websites.
          </p>
          <p class="mb-4">
            I'm a highly skilled and experienced web designer. I'm proficient in
            all the latest web design technologies. I'm also a creative thinker
            and I'm always coming up with new ideas.
          </p>
          <p class="mb-4">
            I'm a great communicator and I'm always willing to work with my
            clients to understand their needs. I'm also a team player and I'm
            always willing to collaborate with other professionals.
          </p>
          <p>
            If you're looking for a web designer who can create a beautiful,
            user-friendly website that will help your business grow, then I'm
            the web designer for you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
