<div class="p-8">
  <p class="text-2xl mb-6">Button Styles</p>
  <div class="grid grid-cols-7 gap-y-4 mb-8">
    <!-- HEADERS -->
    <div><p class="text-center font-bold">Style</p></div>
    <div><p class="text-center font-bold">Class</p></div>
    <div><p class="text-center font-bold">Initial</p></div>
    <div><p class="text-center font-bold">Hover</p></div>
    <div><p class="text-center font-bold">Focus</p></div>
    <div><p class="text-center font-bold">Active</p></div>
    <div><p class="text-center font-bold">Disabled</p></div>

    <!-- Normal Corners -->
    <!-- Plain -->
    <div class="flex-v-center">Plain</div>
    <div class="flex-v-center"><p>.btn.plain</p></div>
    <div class="flex-center">
      <button class="btn plain">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn plain hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn plain focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn plain active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn plain disabled">Button</button>
    </div>
    <!-- End Plain -->
    <!-- Primary -->
    <div class="flex-v-center">Primary</div>
    <div class="flex-v-center"><p>.btn</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn disabled">Button</button>
    </div>
    <!-- End Primary -->
    <!-- Light -->
    <div class="flex-v-center">Primary Light</div>
    <div class="flex-v-center"><p>.btn.btn-light</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-light">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light disabled">Button</button>
    </div>
    <!-- End Light -->
    <!-- Light Outline -->
    <div class="flex-v-center">Primary Light Outline</div>
    <div class="flex-v-center"><p>.btn.btn-light-outline</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-light-outline">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light-outline hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light-outline focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light-outline active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light-outline disabled">Button</button>
    </div>
    <!-- End Light Outline -->
    <!-- Dark -->
    <div class="flex-v-center">Primary Dark</div>
    <div class="flex-v-center"><p>.btn.btn-dark</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-dark">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark disabled">Button</button>
    </div>
    <!-- End Dark -->
    <!-- Dark Gray -->
    <div class="flex-v-center">Primary Dark Gray</div>
    <div class="flex-v-center"><p>.btn.btn-dark-gray</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-dark-gray">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark-gray hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark-gray focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark-gray active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark-gray disabled">Button</button>
    </div>
    <!-- End Dark Gray -->
    <!-- Primary Outline -->
    <div class="flex-v-center">Primary Outline</div>
    <div class="flex-v-center"><p>.btn.btn-outline</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-outline">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-outline hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-outline focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-outline active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-outline disabled">Button</button>
    </div>
    <!-- End Primary Outline -->
    <!-- Secondary -->
    <div class="flex-v-center">Secondary</div>
    <div class="flex-v-center"><p>.btn.btn-secondary</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-secondary">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary disabled">Button</button>
    </div>
    <!-- End Secondary -->
    <!-- Secondary Outline -->
    <div class="flex-v-center">Secondary Outline</div>
    <div class="flex-v-center"><p>.btn.btn-secondary-outline</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-secondary-outline">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary-outline hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary-outline focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary-outline active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary-outline disabled">Button</button>
    </div>
    <!-- End Secondary Outline -->
    <!-- Tertiary -->
    <div class="flex-v-center">Tertiary</div>
    <div class="flex-v-center"><p>.btn.btn-tertiary</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-tertiary">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary disabled">Button</button>
    </div>
    <!-- End Tertiary -->
    <!-- Tertiary Outline -->
    <div class="flex-v-center">Tertiary Outline</div>
    <div class="flex-v-center"><p>.btn.btn-tertiary-outline</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-tertiary-outline">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary-outline hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary-outline focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary-outline active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary-outline disabled">Button</button>
    </div>
    <!-- End Tertiary Outline -->
  </div>

  <!-- Sizes -->
  <p class="text-2xl mt-12 mb-6">Button Sizes</p>
  <div class="grid grid-cols-3 gap-y-4">
    <div><p class="text-center font-bold">Style</p></div>
    <div><p class="text-center font-bold">Class</p></div>
    <div><p class="text-center font-bold">Button</p></div>
    <div class="flex-v-center text-center">Small</div>
    <div class="flex-v-center text-center"><p>.btn.btn-sm</p></div>
    <div class="flex-center">
      <button class="btn btn-sm">Button</button>
    </div>
    <div class="flex-v-center text-center">Medium</div>
    <div class="flex-v-center text-center"><p>.btn</p></div>
    <div class="flex-center">
      <button class="btn">Button</button>
    </div>
    <div class="flex-v-center text-center">Large</div>
    <div class="flex-v-center text-center"><p>.btn.btn-lg</p></div>
    <div class="flex-center">
      <button class="btn btn-lg">Button</button>
    </div>
    <div class="flex-v-center text-center">Extra-Large</div>
    <div class="flex-v-center text-center"><p>.btn.btn-xl</p></div>
    <div class="flex-center">
      <button class="btn btn-xl">Button</button>
    </div>
    <div class="flex-v-center text-center">Small Full-Width</div>
    <div class="flex-v-center text-center"><p>.btn.btn-sm.btn-full</p></div>
    <div class="flex-center">
      <button class="btn btn-sm btn-full">Button</button>
    </div>
    <div class="flex-v-center text-center">Medium Full-Width</div>
    <div class="flex-v-center text-center"><p>.btn.btn-full</p></div>
    <div class="flex-center">
      <button class="btn btn-full">Button</button>
    </div>
    <div class="flex-v-center text-center">Large Full-Width</div>
    <div class="flex-v-center text-center"><p>.btn.btn-lg.btn-full</p></div>
    <div class="flex-center">
      <button class="btn btn-lg btn-full">Button</button>
    </div>
    <div class="flex-v-center text-center">Extra-Large Full-Width</div>
    <div class="flex-v-center text-center"><p>.btn.btn-xl.btn-full</p></div>
    <div class="flex-center">
      <button class="btn btn-xl btn-full">Button</button>
    </div>
  </div>
  <!-- End Sizes -->

  <!-- Shapes -->
  <p class="text-2xl mb-6 mt-12">Button Sizes</p>
  <div class="grid grid-cols-3 gap-y-4">
    <div><p class="text-center font-bold">Style</p></div>
    <div><p class="text-center font-bold">Class</p></div>
    <div><p class="text-center font-bold">Button</p></div>
    <div class="flex-v-center text-center">Square</div>
    <div class="flex-v-center text-center"><p>.btn.btn-r-none</p></div>
    <div class="flex-center">
      <button class="btn btn-r-none">Button</button>
    </div>
    <div class="flex-v-center text-center">Small</div>
    <div class="flex-v-center text-center"><p>.btn.btn-r-sm</p></div>
    <div class="flex-center">
      <button class="btn btn-r-sm">Button</button>
    </div>
    <div class="flex-v-center text-center">Medium</div>
    <div class="flex-v-center text-center"><p>.btn</p></div>
    <div class="flex-center">
      <button class="btn">Button</button>
    </div>
    <div class="flex-v-center text-center">Large</div>
    <div class="flex-v-center text-center"><p>.btn.btn-r-lg</p></div>
    <div class="flex-center">
      <button class="btn btn-r-lg">Button</button>
    </div>
    <div class="flex-v-center text-center">Extra-Large</div>
    <div class="flex-v-center text-center"><p>.btn.btn-r-xl</p></div>
    <div class="flex-center">
      <button class="btn btn-r-xl">Button</button>
    </div>
    <div class="flex-v-center text-center">Full</div>
    <div class="flex-v-center text-center"><p>.btn.btn-r-full</p></div>
    <div class="flex-center">
      <button class="btn btn-r-full">Button</button>
    </div>
  </div>
</div>
