<div class="p-8">
  <div class="grid grid-cols-7 gap-y-4">
    <!-- HEADERS -->
    <div><p class="text-center">Style</p></div>
    <div><p class="text-center">Class</p></div>
    <div><p class="text-center">Initial</p></div>
    <div><p class="text-center">Hover</p></div>
    <div><p class="text-center">Focus</p></div>
    <div><p class="text-center">Active</p></div>
    <div><p class="text-center">Disabled</p></div>

    <!-- Normal Corners -->
    <!-- Plain -->
    <div class="flex-v-center">Plain</div>
    <div class="flex-v-center"><p>.btn.plain</p></div>
    <div class="flex-center">
      <button class="btn plain">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn plain hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn plain focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn plain active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn plain disabled">Button</button>
    </div>
    <!-- End Plain -->
    <!-- Primary -->
    <div class="flex-v-center">Primary</div>
    <div class="flex-v-center"><p>.btn</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn disabled">Button</button>
    </div>
    <!-- End Primary -->
    <!-- Light -->
    <div class="flex-v-center">Primary Light</div>
    <div class="flex-v-center"><p>.btn.btn-light</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-light">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-light disabled">Button</button>
    </div>
    <!-- End Light -->
    <!-- Dark -->
    <div class="flex-v-center">Primary Dark</div>
    <div class="flex-v-center"><p>.btn.btn-dark</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-dark">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-dark disabled">Button</button>
    </div>
    <!-- End Dark -->
    <!-- Primary Outline -->
    <div class="flex-v-center">Primary Outline</div>
    <div class="flex-v-center"><p>.btn.btn-outline</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-outline">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-outline hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-outline focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-outline active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-outline disabled">Button</button>
    </div>
    <!-- End Primary Outline -->
    <!-- Secondary -->
    <div class="flex-v-center">Secondary</div>
    <div class="flex-v-center"><p>.btn.btn-secondary</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-secondary">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary disabled">Button</button>
    </div>
    <!-- End Secondary -->
    <!-- Secondary Outline -->
    <div class="flex-v-center">Secondary Outline</div>
    <div class="flex-v-center"><p>.btn.btn-secondary-outline</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-secondary-outline">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary-outline hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary-outline focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary-outline active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-secondary-outline disabled">Button</button>
    </div>
    <!-- End Secondary Outline -->
    <!-- Tertiary -->
    <div class="flex-v-center">Tertiary</div>
    <div class="flex-v-center"><p>.btn.btn-tertiary</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-tertiary">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary disabled">Button</button>
    </div>
    <!-- End Tertiary -->
    <!-- Tertiary Outline -->
    <div class="flex-v-center">Tertiary Outline</div>
    <div class="flex-v-center"><p>.btn.btn-tertiary-outline</p></div>
    <div class="col-start-3 flex-center">
      <button class="btn btn-tertiary-outline">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary-outline hover">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary-outline focus">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary-outline active">Button</button>
    </div>
    <div class="flex-center">
      <button class="btn btn-tertiary-outline disabled">Button</button>
    </div>
    <!-- End Tertiary Outline -->
  </div>

  <!--  <div>-->
  <!--    Shapes-->
  <!-- Standard Corners -->
  <!-- Square Corners -->
  <!-- Rounded Corners -->
  <!--  </div>-->

  <!--  <div>-->
  <!--    SIZES-->
  <!--  </div>-->
</div>
