<div id="{{selector|r}}">
  <div class="py-32 max-w-7xl mx-auto px-8 lg:px-16">
    <div>
      <p class="text-secondary-600 uppercase mb-2">FAQ</p>
      <p class="text-3xl font-bold fonts-serif">What You Need To Know</p>
    </div>
    <div>
      <ul class="accordion">
        <li class="active">
          <div class="accordion-title">
            <p>How much experience do you have?</p>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 12h-15"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 hidden"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4.5v15m7.5-7.5h-15"
                />
              </svg>
            </div>
          </div>
          <div class="accordion-content">
            <p>
              I have been developing software for a wide range of businesses for
              more than ten years.
            </p>
            <p class="pt-4">
              To learn more about me, see the
              <a class="secondary-link-text" href="#">About Page</a>.
            </p>
          </div>
        </li>
        <li>
          <div class="accordion-title">
            <p>Are the pricing plans fixed?</p>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 hidden"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 12h-15"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4.5v15m7.5-7.5h-15"
                />
              </svg>
            </div>
          </div>
          <div class="accordion-content">
            <p>
              I offer a base package for $250, suitable for most small
              businesses. I quote more complex projects on a case-by-case basis.
            </p>
            <p class="pt-4">
              For more details, see the
              <a class="secondary-link-text" href="#">Services Page</a>.
            </p>
          </div>
        </li>
        <li>
          <div class="accordion-title">
            <p>Why should I get a website?</p>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 hidden"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 12h-15"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4.5v15m7.5-7.5h-15"
                />
              </svg>
            </div>
          </div>
          <div class="accordion-content">
            <p>
              A website is essential for any business owner who wants to grow
              their business. If you still need to get a website, invest in one.
              It's one of the best things you can do for your business.
            </p>
            <p class="mt-4">Here are a few things it can help you do:</p>
            <ul class="mt-4 list-disc ml-8">
              <li>Establish Credibility</li>
              <li>Reach a Wider Audience</li>
              <li>Generate Leads and Sales</li>
              <li>Provide Customer Service</li>
              <li>Build a Brand</li>
              <li>Stay Up-to-Date</li>
            </ul>
            <p class="pt-4">
              For more details, see the section on
              <a class="secondary-link-text" href="#"
                >why to invest in a website</a
              >.
            </p>
          </div>
        </li>
        <li>
          <div class="accordion-title">
            <p>How fast can you deliver?</p>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 hidden"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 12h-15"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4.5v15m7.5-7.5h-15"
                />
              </svg>
            </div>
          </div>
          <div class="accordion-content">
            <p>
              The duration of the entire process from start to finish depends on
              several factors. For a ballpark, expect a finished basic marketing
              site in 2-3 weeks. Sometimes, it can be much quicker.
            </p>
          </div>
        </li>
        <li>
          <div class="accordion-title">
            <p>What does the process look like?</p>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 hidden"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 12h-15"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4.5v15m7.5-7.5h-15"
                />
              </svg>
            </div>
          </div>
          <div class="accordion-content">
            <p>There are several steps to the process.</p>
            <ol class="list-disc ml-8">
              <li>We start by discussing your needs and how I can help.</li>
              <li>We will sign a contract to protect both of us.</li>
              <li>
                I will send an invoice consistent with the payment structure in
                the contract - generally 50% of the total price.
              </li>
              <li>
                We will have an in-depth discussion of how your business works
                and what you need from a website.
              </li>
              <li>
                I’ll present a design and request any needed assets or
                additional information.
              </li>
              <li>I will code the website and provide you with a demo link.</li>
              <li>
                Upon final approval, I will send an invoice for the remaining
                amount. If hosting is required, I will also provide a monthly
                recurring invoice for you to pay.
              </li>
              <li>
                The website will go live, and customers will start pouring in!
              </li>
            </ol>
            <p class="pt-4">
              For more details, see the
              <a class="secondary-link-text" href="#">Process Page</a>.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
