<div id="{{selector|r}}">
  <div
    class="bg-primary-950 text-gray-200 pt-32 pb-16 px-16 grid grid-cols-3 gap-8"
  >
    <div class="col-span-3 text-center">
      <p class="text-3xl uppercase font-bold font-serif mb-2 text-primary-300">
        Frank's Mobile Detailing
      </p>
      <div>
        <a class="hover:text-secondary-700 text-secondary-500" href="#">Home</a>
        <span> - </span>
        <a class="hover:text-secondary-500" href="#">About</a>
        <span> - </span>
        <a class="hover:text-secondary-500" href="#">Services</a>
        <span> - </span>
        <a class="hover:text-secondary-500" href="#">Reviews</a>
        <span> - </span>
        <a class="hover:text-secondary-500" href="#">Contact</a>
      </div>
    </div>
    <div
      class="col-span-3 lg:col-span-1 text-center lg:text-left flex flex-col justify-center"
    >
      <p class="mb-2">
        <a href="tel:2705515073" class="hover:text-primary-400"
          >(270) 551-5073</a
        >
      </p>
      <p>
        <a
          href="mailto:frank@franksmobiledetailing.com"
          class="hover:text-primary-500"
          >frank@franksmobiledetailing.com</a
        >
      </p>
    </div>
    <div
      class="col-span-3 lg:col-span-1 text-center flex flex-col justify-center"
    >
      <p>123 Example St</p>
      <p>Richmond, KY 40475</p>
    </div>
    <div
      class="col-span-3 lg:col-span-1 text-center lg:text-right flex flex-col justify-center"
    >
      <div class="flex gap-8 justify-around lg:justify-end">
        <div class="text-center lg:text-right">
          <p>Monday - Saturday</p>
          <p>Sunday</p>
        </div>
        <div class="text-center lg:text-left">
          <p>8 am - 7 pm</p>
          <p>9 am - 2 pm</p>
        </div>
      </div>
    </div>
    <div class="col-span-3 text-gray-400 text-center">
      © 2023
      <a
        target="_blank"
        href="https://prwebconsulting.com"
        class="hover:text-gray-200"
        >PR Web Consulting</a
      >, All Rights Reserved.
    </div>
  </div>
</div>
