<div id="{{selector|r}}">
  <div class="bg-gray-900 text-gray-200 pt-32 pb-16 grid grid-cols-2 gap-4">
    <div class="col-span-2 lg:col-span-1 text-center">
      <p class="text-3xl uppercase font-bold font-serif mb-2">
        PR Web Consulting
      </p>
      <div>
        <a class="hover:text-primary-500" href="#">Home</a>
        <span> - </span>
        <a class="hover:text-primary-500" href="#">About</a>
        <span> - </span>
        <a class="hover:text-primary-500" href="#">Blog</a>
        <span> - </span>
        <a class="hover:text-primary-500" href="#">Services</a>
        <span> - </span>
        <a class="hover:text-primary-500" href="#">Portfolio</a>
      </div>
    </div>
    <div
      class="col-span-2 lg:col-span-1 text-center flex flex-col justify-center"
    >
      <p class="mb-2">
        <a href="tel:2705515073" class="hover:text-primary-400"
          >(270) 551-5073</a
        >
      </p>
      <p>
        <a href="mailto:phil@prwebconsulting.com" class="hover:text-primary-500"
          >phil@prwebconsulting.com</a
        >
      </p>
    </div>
    <div class="col-span-2 text-gray-400 text-center pt-16">
      © 2023 PR Web Consulting, All Rights Reserved.
    </div>
  </div>
</div>
