<div id="{{selector|r}}" class="group">
  <div
    class="h-device bg-full relative"
    style="
      background-image: url(../img/greyson-joralemon-A1g0oeX29ec-unsplash.jpg?as=webp&width=1440),
        url(../img/greyson-joralemon-A1g0oeX29ec-unsplash.jpg?as=webp&height=768),
        url(../img/greyson-joralemon-A1g0oeX29ec-unsplash.jpg?as=webp&height=667);
    "
  >
    <div
      class="lg:pt-24 md:pt-12 full-top w-full max-w-4xl absolute mx-auto shadow-2xl"
    >
      <div
        class="bg-white bg-opacity-80 py-4 flex justify-between lg:justify-center"
      >
        <div
          class="text-left lg:text-center px-4 uppercase text-lg lg:text-3xl text-primary-700"
        >
          Central Ohio Builders
        </div>
        <div class="parent h-[1.626rem] w-8 lg:hidden mr-4">
          <div class="">
            <!-- Lines -->
            <div class="flex-v-between full child">
              <span
                class="block h-1 w-full bg-gray-700 rounded-xl transition-transform will-change-transform origin-top-left ease-in-out duration-300 group-data-[checked]:rotate-45"
              ></span>
              <span
                class="block h-1 w-full bg-gray-700 rounded-xl transition-transform will-change-transform ease-in-out duration-300 group-data-[checked]:scale-y-0"
              ></span>
              <span
                class="block h-1 w-full bg-gray-700 rounded-xl transition-transform will-change-transform origin-bottom-left ease-in-out duration-300 group-data-[checked]:-rotate-45"
              ></span>
            </div>
            <!-- End Lines-->
            <!-- Checkbox-->
            <label
              id="{{selector|r}}-menu-toggle"
              class="cursor-pointer w-8 group-data-[checked]:fixed absolute group-data-[checked]:h-auto h-[1.626rem] group-data-[checked]:lg:w-2/3 group-data-[checked]:w-1/3 group-data-[checked]:right-0 group-data-[checked]:inset-y-0"
            >
              <input
                type="checkbox"
                class="opacity-0 cursor-pointer"
                aria-label="Menu Toggle"
                aria-labelledby="{{selector|r}}-menu-toggle"
              />
            </label>
            <!-- End Checkbox-->
          </div>
        </div>
      </div>
      <div
        class="grid grid-cols-1 lg:grid-cols-5 bg-white overflow-hidden bg-opacity-50 lg:max-h-full max-h-0 group-data-[checked]:max-h-screen transition-[max-height] ease-in-out duration-500"
      >
        <a href="#">
          <div
            class="text-center text-primary-800 hover:text-primary-600 py-6 bg-white lg:bg-transparent hover:bg-white"
          >
            Communities
          </div>
        </a>
        <a href="#">
          <div
            class="text-center text-primary-800 hover:text-primary-600 py-6 bg-white lg:bg-transparent hover:bg-white"
          >
            Home Designs
          </div>
        </a>
        <a href="#">
          <div
            class="text-center text-primary-800 hover:text-primary-600 py-6 bg-white lg:bg-transparent hover:bg-white"
          >
            Ready Now
          </div>
        </a>
        <a href="#">
          <div
            class="text-center text-primary-800 hover:text-primary-600 py-6 bg-white lg:bg-transparent hover:bg-white"
          >
            About
          </div>
        </a>
        <a href="#">
          <div
            class="text-center text-primary-800 hover:text-primary-600 py-6 bg-white lg:bg-transparent hover:bg-white"
          >
            Contact Us
          </div>
        </a>
      </div>
    </div>
  </div>
  <div></div>
</div>
