<div id="{{selector|r}}" class="h-full w-full">
  <div
    class="bg-img min-h-[667px] md:min-h-[768px] bg-center h-full bg-cover bg-no-repeat relative pt-32 mg:pt-42 lg:pt-48"
  >
    <div class="text-white px-4 max-w-xl md:max-w-3xl lg:max-w-5xl mx-auto">
      <p class="text-5xl md:text-6xl lg:text-8xl font-serif mb-8">
        Master Clothier of Men’s Suits
      </p>
      <p class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">
        We're world-class experts that come to you in your home or office.
      </p>
    </div>
  </div>
</div>

<style>
  .bg-img {
    background-image: url(../img/yasamine-june-tOubjwKS6f0-unsplash.jpg?as=webp&width=1440),
      url(../img/yasamine-june-tOubjwKS6f0-unsplash.jpg?as=webp&height=768),
      url(../img/yasamine-june-tOubjwKS6f0-unsplash.jpg?as=webp&&height=667);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  }

  /*.bg-img:before {*/
  /*  content: '';*/
  /*  position: absolute;*/
  /*  top: 0;*/
  /*  right: 0;*/
  /*  bottom: 0;*/
  /*  left: 0;*/
  /*  !*background-color: #000000;*!*/
  /*  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);*/
  /*  opacity: .6;*/
  /*}*/
</style>
