<div id="{{selector|r}}" class="full">
  <div
    class="h-device bg-full container-lg"
    style="
      background-image: url(../img/christin-hume-Hcfwew744z4-unsplash.jpg?as=webp&width=1440),
        url(../img/christin-hume-Hcfwew744z4-unsplash.jpg?as=webp&height=768),
        url(../img/christin-hume-Hcfwew744z4-unsplash.jpg?as=webp&height=667);
    "
  >
    <div class="px-4 max-w-xl md:max-w-3xl lg:max-w-5xl mx-auto">
      <p class="text-white text-4xl md:text-6xl lg:text-8xl font-bold mb-8">
        Start your journey to the digital future
      </p>
      <a>
        <button
          class="bg-primary-300 hover:bg-primary-500 font-bold text-black px-8 py-4"
        >
          Get Started
        </button>
      </a>
    </div>
  </div>
</div>
