<div id="{{selector|r}}">
  <div
    class="bg-gray-800 w-full"
    style="
      background-image: linear-gradient(
        168deg,
        #1e293b 60%,
        #000000 calc(60% + 2px)
      );
    "
  >
    <div class="grid grid-cols-12 gap-2 sm:gap-8 max-w-screen-2xl mx-auto">
      <div class="mt-16 sm:mt-24 md:mt-32 col-start-2 col-span-5">
        <p
          class="text-xl md:text-2xl lg:text-4xl xl:text-[64px] leading-none text-red-600"
        >
          Built to
        </p>
        <p
          class="text-2xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-[88px] leading-none font-serif uppercase text-outline ml-6 sm:ml-16 md:ml-20 lg:ml-0 lg:text-right text-transparent"
        >
          Protect
        </p>
        <p
          class="text-xl md:text-2xl lg:text-4xl xl:text-[64px] leading-none text-red-600 mt-4 md:mt-6"
        >
          Built to
        </p>
        <p
          class="text-2xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-[88px] leading-none font-serif uppercase text-outline ml-6 sm:ml-16 md:ml-20 lg:ml-0 lg:text-right text-transparent"
        >
          Perform
        </p>
        <p class="text-white hidden md:block md:text-sm lg:text-lg mt-20">
          from riding, racing, to rockcrawling, we can build a custom cage that
          is both safe and eye catching
        </p>
      </div>
      <div class="col-span-6 mt-12 sm:mt-16 flex flex-row-reverse">
        <div class="max-w-full overflow-hidden">
          <img
            srcset="
              https://prconsulting-fabricator.s3.us-east-2.amazonaws.com/342203940_2197520190636084_1159576424886483885_n.jpg?as=webp&height=325,
              https://prconsulting-fabricator.s3.us-east-2.amazonaws.com/342203940_2197520190636084_1159576424886483885_n.jpg?as=webp&height=488 1.5x,
              https://prconsulting-fabricator.s3.us-east-2.amazonaws.com/342203940_2197520190636084_1159576424886483885_n.jpg?as=webp&height=650 2x
            "
            src="https://prconsulting-fabricator.s3.us-east-2.amazonaws.com/342203940_2197520190636084_1159576424886483885_n.jpg?as=webp&height=650"
            alt="Friends"
            class="max-h-[488px] md:max-w-[650px] rounded-l-2xl 2xl:rounded-2xl"
          />
        </div>
      </div>
    </div>
    <p class="text-white md:hidden text-xs text-center py-16">
      from riding, racing, to rockcrawling, we can build a custom cage that is
      both safe and eye catching
    </p>
  </div>
</div>
<style>
  .text-outline {
    text-shadow:
      0 0 0 #1e293b,
      -2px -2px 0 #ff0000,
      2px -2px 0 #ff0000,
      -2px 2px 0 #ff0000,
      2px 2px 0 #ff0000;
  }
</style>
