<div id="{{selector|r}}" class="h-full w-full">
  <div
    class="hero-bg-img min-h-[667px] md:min-h-[768px] h-full relative pt-32 mg:pt-42 lg:pt-48"
  >
    <div class="text-white px-4 max-w-xl md:max-w-3xl lg:max-w-5xl mx-auto">
      <p class="text-4xl md:text-5xl lg:text-6xl font-serif mb-8 max-w-[50%]">
        Where tradition meets innovation
      </p>
      <p class="text-lg sm:text-xl md:text-3xl lg:text-4xl text-primary-500">
        A multi-generational clothier dedicated to crafting timeless pieces.
      </p>
    </div>
  </div>
</div>

<style>
  .hero-bg-img {
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 25%,
        #09090b 100%
      ),
      url(../img/man-in-chair.jpg?as=webp&width=1440),
      url(../img/man-in-chair.jpg?as=webp&height=768),
      url(../img/man-in-chair.jpg?as=webp&&height=667);
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
