<div id="{{selector|r}}" class="py-32 bg-primary-300">
  <p class="text-5xl font-bold font-serif pb-16 text-center">Pricing</p>
  <div class="grid grid-cols-10 gap-6 px-6 mb-12 justify-center">
    <!-- box 1 -->
    <div
      class="col-span-10 md:col-span-4 lg:col-span-2 md:col-start-2 text-center bg-primary-50 rounded-lg shadow-xl"
    >
      <div class="rounded-lg px-6 py-8">
        <p
          class="text-sm font-bold uppercase tracking-wide mb-4 text-primary-500"
        >
          Interior Detail
        </p>
        <div class="text-center">
          <p class="text-lg">Starting At</p>
          <p class="text-3xl">$100</p>
        </div>
      </div>
    </div>
    <!-- end box 1 -->
    <!-- box 2 -->
    <div
      class="col-span-10 md:col-span-4 lg:col-span-2 text-center bg-primary-50 rounded-lg shadow-xl"
    >
      <div class="rounded-lg px-6 py-8">
        <p
          class="text-sm font-bold uppercase tracking-wide mb-4 text-primary-500"
        >
          Exterior Detail
        </p>
        <div class="text-center">
          <p class="text-lg">Starting At</p>
          <p class="text-3xl">$80</p>
        </div>
      </div>
    </div>
    <!-- end box 2 -->
    <!-- box 3 -->
    <div
      class="col-span-10 md:col-span-4 lg:col-span-2 md:col-start-2 text-center bg-primary-50 rounded-lg shadow-xl"
    >
      <div class="rounded-lg px-6 py-8">
        <p
          class="text-sm font-bold uppercase tracking-wide mb-4 text-primary-500"
        >
          Full Service
        </p>
        <div class="text-center">
          <p class="text-lg">Starting At</p>
          <p class="text-3xl">$150</p>
        </div>
      </div>
    </div>
    <!-- end box 3 -->
    <!-- box 4 -->
    <div
      class="col-span-10 md:col-span-4 lg:col-span-2 text-center bg-primary-50 rounded-lg shadow-xl"
    >
      <div class="rounded-lg px-6 py-8">
        <p
          class="text-sm font-bold uppercase tracking-wide mb-4 text-primary-500"
        >
          Paint Correction
        </p>
        <div class="text-center">
          <p class="text-lg">Starting At</p>
          <p class="text-3xl">$300</p>
        </div>
      </div>
    </div>
    <!-- end box 4 -->
    <!-- box 5 -->
    <div
      class="col-span-10 md:col-span-4 lg:col-span-2 md:col-start-4 bg-primary-50 text-center rounded-lg shadow-xl"
    >
      <div class="rounded-lg px-6 py-8">
        <p
          class="text-sm font-bold uppercase tracking-wide mb-4 text-primary-500"
        >
          Ceramic Coating
        </p>
        <div class="text-center">
          <p class="text-lg">Starting At</p>
          <p class="text-3xl">$400</p>
        </div>
      </div>
    </div>
    <!-- end box 5 -->
  </div>
  <div class="text-center">
    <a href="#">
      <button
        class="rounded-full px-4 py-2 text-white bg-primary-700 hover:bg-primary-900 hover-float"
      >
        Get a Quote
      </button>
    </a>
  </div>
</div>
