<div id="{{selector|r}}" class="bg-zinc-950 text-gray-200">
  <div class="py-32 max-w-7xl px-4 md:px-16 lg:px-24">
    <div class="pb-12 text-center text-4xl text-primary-500">
      What to Expect
    </div>
    <div class="pb-12 text-center md:text-left">
      The process of getting clothing made by a custom made-to-measure tailor
      can be broken down into the following steps
    </div>
    <div class="grid grid-cols-4">
      <div
        class="col-span-4 lg:col-span-3 px-0 md:px-4 pb-12 flex flex-col gap-8"
      >
        <div
          class="grid grid-cols-4 border-primary-200 border rounded-xl py-8 px-4"
        >
          <div
            class="flex px-8 flex-col justify-center col-span-4 md:col-span-1 mb-8 lg:mb-0"
          >
            <div class="circle-box bg-primary-800 text-primary-300">
              <p class="">1</p>
            </div>
          </div>
          <div class="col-span-4 md:col-span-3">
            <p
              class="font-serif text-center md:text-left text-2xl md:text-xl pb-4"
            >
              Consultation
            </p>
            <p class="pb-4">
              The first step is to schedule a consultation with the tailor. This
              is where you will discuss your needs and preferences for the
              garment you want to have made. The tailor will also measure you
              carefully to ensure that the garment fits you perfectly.
            </p>
            <p>
              During the consultation, the tailor will ask you about your
              desired style, fit, and budget. They will also take a look at your
              body type and proportions to help you choose the right garment for
              you.
            </p>
          </div>
        </div>
        <div
          class="grid grid-cols-4 border-primary-200 border rounded-xl py-8 px-4"
        >
          <div
            class="flex px-8 flex-col justify-center col-span-4 md:col-span-1 mb-8 lg:mb-0"
          >
            <div class="circle-box bg-primary-800 text-primary-300">
              <p class="">2</p>
            </div>
          </div>
          <div class="col-span-4 md:col-span-3">
            <p
              class="font-serif text-center md:text-left text-2xl md:text-xl pb-4"
            >
              Fabric Selection
            </p>
            <p class="pb-4">
              Once you have been measured, you will need to select the fabric
              for your garment. The tailor will help you choose a fabric that is
              appropriate for the garment and your needs.
            </p>
            <p>
              There is a wide variety of fabrics available for custom
              made-to-measure garments. The tailor will help you choose a fabric
              that is appropriate for the garment, your needs, and your budget.
              Some popular fabrics for custom made-to-measure garments include
              wool, linen, cotton, and silk.
            </p>
          </div>
        </div>
        <div
          class="grid grid-cols-4 border-primary-200 border rounded-xl py-8 px-4"
        >
          <div
            class="flex px-8 flex-col justify-center col-span-4 md:col-span-1 mb-8 lg:mb-0"
          >
            <div class="circle-box bg-primary-800 text-primary-300">
              <p class="">3</p>
            </div>
          </div>
          <div class="col-span-4 md:col-span-3">
            <p
              class="font-serif text-center md:text-left text-2xl md:text-xl pb-4"
            >
              Pattern Making
            </p>
            <p class="pb-4">
              The tailor will then create a pattern for your garment based on
              your measurements and fabric selection.
            </p>
            <p>
              The tailor will create a pattern for your garment based on your
              measurements and fabric selection. This process requires a high
              level of skill and expertise. The tailor will need to take into
              account your body type, proportions, and desired style when
              creating the pattern.
            </p>
          </div>
        </div>
        <div
          class="grid grid-cols-4 border-primary-200 border rounded-xl py-8 px-4"
        >
          <div
            class="flex px-8 flex-col justify-center col-span-4 md:col-span-1 mb-8 lg:mb-0"
          >
            <div class="circle-box bg-primary-800 text-primary-300">
              <p class="">4</p>
            </div>
          </div>
          <div class="col-span-4 md:col-span-3">
            <p
              class="font-serif text-center md:text-left text-2xl md:text-xl pb-4"
            >
              Construction
            </p>
            <p class="pb-4">
              Once the pattern has been created, the garment will be constructed
              by the tailor. This process typically involves several fittings to
              ensure that the garment fits you perfectly.
            </p>
            <p>
              The construction of the garment is where the tailor's skills and
              experience really shine. The tailor will carefully sew the garment
              together, taking care to ensure that the fit is perfect. They will
              also use high-quality materials and construction techniques to
              ensure that the garment lasts for many years.
            </p>
          </div>
        </div>
        <div
          class="grid grid-cols-4 border-primary-200 border rounded-xl py-8 px-4"
        >
          <div
            class="flex px-8 flex-col justify-center col-span-4 md:col-span-1 mb-8 lg:mb-0"
          >
            <div class="circle-box bg-primary-800 text-primary-300">
              <p class="">5</p>
            </div>
          </div>
          <div class="col-span-4 md:col-span-3">
            <p
              class="font-serif text-center md:text-left text-2xl md:text-xl pb-4"
            >
              Finishing Touches
            </p>
            <p class="pb-4">
              Once the garment is constructed, the tailor will add any finishing
              touches, such as buttons, stitching, and embellishments.
            </p>
            <p>
              These finishing touches can help to create a truly unique and
              stylish garment.
            </p>
          </div>
        </div>
      </div>
      <div
        class="mb-12 hidden lg:flex col-span-1 lg:flex-col gap-8 justify-between"
      >
        <img
          src="../img/fabric-selection.jpg?as=webp&width=430"
          alt="fabric selection"
          class="rounded-xl"
        />
        <img
          src="../img/fabric-selection-2.jpg?as=webp&width=430"
          alt="fabric selection 2"
          class="rounded-xl"
        />
        <img
          src="../img/custom-suit-2.jpeg?as=webp&width=430"
          alt="custom suit"
          class="rounded-xl"
        />
      </div>
      <div class="mb-12 col-span-4 grid grid-cols-3 lg:hidden gap-4">
        <div>
          <img
            src="../img/fabric-selection.jpg?as=webp&width=200"
            alt="fabric selection"
            class="rounded-xl mx-auto"
          />
        </div>
        <div>
          <img
            src="../img/fabric-selection-2.jpg?as=webp&width=200"
            alt="fabric selection 2"
            class="rounded-xl mx-auto"
          />
        </div>
        <div>
          <img
            src="../img/custom-suit-2.jpeg?as=webp&width=200"
            alt="custom suit"
            class="rounded-xl mx-auto"
          />
        </div>
      </div>
    </div>
    <div class="text-center md:text-left">
      The entire process can take anywhere from a few weeks to several months,
      depending on the complexity of the garment and the availability of the
      tailor. However, the end result is a garment that is truly unique to you
      and that fits you perfectly.
    </div>
  </div>
</div>
