<div id="{{selector|r}}">
  <div class="py-32 max-w-7xl mx-auto px-8 lg:px-16">
    <div>
      <p class="text-3xl text-black fonts-serif text-center">
        Description of Services
      </p>
    </div>
    <div>
      <ul class="accordion">
        <li class="active">
          <div class="accordion-title">
            <p>Basic Marketing Website</p>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 12h-15"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 hidden"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4.5v15m7.5-7.5h-15"
                />
              </svg>
            </div>
          </div>
          <div class="accordion-content">
            <p>
              This type of website can have up to 5 pages. It aims to present
              your services and tell people about yourself. Five pages are
              plenty to appear professional and competent while providing all
              the information the visitor needs. It is essential to keep your
              website concise and easy to navigate. Too many pages can make it
              difficult for visitors to find the information they seek. Here are
              some standard pages marketing websites have:
            </p>
            <ul class="mt-4 list">
              <li>
                Homepage: The homepage is the most important page on your
                website, as it is the first page that most visitors will see. It
                should give visitors a clear and concise overview of your
                business, its products or services, and its contact information.
              </li>
              <li>
                About page: The About page is a great place to tell your
                business's story and introduce your team to visitors. You can
                also use this page to highlight your company's mission, values,
                and unique selling proposition (USP).
              </li>
              <li>
                Products or services page: This page should list all the
                products or services that your business offers. Be sure to
                include clear and concise descriptions of each product or
                service and high-quality images or videos.
              </li>
              <li>
                Contact page: The contact page is where visitors can contact
                your business. Be sure to include your contact information, such
                as your phone number, email address, and mailing address.
              </li>
              <li>
                In addition to these essential pages, websites often include a
                portfolio page, a testimonials page, or a FAQ page.
              </li>
            </ul>
            <p class="mt-4">
              A few features I do not include in this service are sometimes
              helpful, such as a blog, a contact form, or a place for visitors
              to leave reviews. These features can be beneficial but are
              optional for most small businesses. For this reason, if these or
              other complex features are essential to your company, I can
              provide a customized quote for your business needs.
            </p>
          </div>
        </li>
        <li>
          <div class="accordion-title">
            <p>Content Creation</p>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 hidden"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 12h-15"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4.5v15m7.5-7.5h-15"
                />
              </svg>
            </div>
          </div>
          <div class="accordion-content">
            <p>
              Sometimes, clients who want a website know what they wish each
              page to say. Sometimes they don’t. I offer content creation
              services when they do not know what to say.
            </p>
            <p class="mt-4">
              Content creation is a general term that means developing the words
              and images that appear on a website. Copywriting is a big part of
              content creation, writing the words on each page.
            </p>
            <p class="mt-4">
              Copywriting is an essential aspect of web development. It is the
              process of generating informative and engaging content for a
              website. Copywriting includes writing persuasive text that
              encourages visitors to take a desired action, such as signing up
              for a newsletter or purchasing.
            </p>
            <p class="mt-4">
              Content creation serves several purposes in the web development
              process:
            </p>
            <ul class="mt-4 list">
              <li>
                To educate and inform visitors. Website content should give
                visitors the information they need to learn about a business,
                its products or services, and its industry.
              </li>
              <li>
                To build trust and credibility. Well-written website content can
                help build trust and credibility with visitors, which is vital
                because visitors are likelier to do business with a business
                they trust.
              </li>
              <li>
                To persuade visitors to take action. Website copy should be
                persuasive and encourage visitors to take a desired action, such
                as signing up for a newsletter, purchasing products, or
                contacting the business.
              </li>
              <li>
                To improve search engine optimization (SEO). Search engines like
                Google use website content to determine how relevant a website
                is to a search query. Copywriters can improve the website's SEO
                ranking by creating high-quality, informative content and
                attracting more visitors, increasing the website’s visibility.
              </li>
            </ul>
            <p class="mt-4">
              Before a developer writes any code for a website, a copywriter
              should create the site's content, which will help ensure that the
              content is relevant, informative, and persuasive and that the
              site's design is well suited to its content.
            </p>
            <p class="mt-4">
              Here are some specific examples of how web designers use content
              creation in the web development process:
            </p>
            <ul class="mt-4 list">
              <li>
                Homepage: The homepage is the most crucial page on a website. I
                carefully craft it to educate and inform visitors about the
                business and its offerings. The homepage should also include
                persuasive copy encouraging visitors to take a desired action.
              </li>
              <li>
                Product or service pages: Product or service pages should
                provide visitors with detailed information about the business's
                products or services. The copy on these pages should be clear,
                concise, and persuasive, highlighting the benefits of the
                products or services to the customer.
              </li>
              <li>
                Blog: A blog is a great way to keep a website fresh and engaging
                with new content regularly. A copywriter can use blog posts to
                educate and inform visitors about the business, its industry,
                and other relevant topics. Blog posts can promote the business's
                products or services and encourage visitors to act. Note that
                while I sometimes create websites with blogs, I do not provide
                copywriting services for blog posts.
              </li>
              <li>
                Call to action (CTA): A CTA is a text or a button that
                encourages visitors to take a desired action. A designer places
                throughout the website, and they should be persuasive and
                direct.
              </li>
            </ul>
            <p class="mt-4">
              Using content creation and copywriting effectively, I can create
              informative, engaging, and persuasive websites.
            </p>
          </div>
        </li>
        <li>
          <div class="accordion-title">
            <p>Web Hosting</p>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 hidden"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 12h-15"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 4.5v15m7.5-7.5h-15"
                />
              </svg>
            </div>
          </div>
          <div class="accordion-content">
            <p class="mt-4">
              Web hosting is a service that provides storage space and bandwidth
              for websites. It is where your website's files are stored so that
              visitors can access them.
            </p>
            <p class="mt-4">
              Domain registration is registering a unique domain name for your
              website. People will type your domain name into their web browser
              to visit your website. For example, I own the domain
              prwebconsulting.com.
            </p>
            <p class="mt-4">
              To create a website, you need both web hosting and domain
              registration. You can register your domain name through a domain
              registrar and purchase web hosting from a web hosting provider.
              Many web hosting providers also offer domain registration
              services.
            </p>
            <p class="mt-4">
              Email accounts can use your domain name. For example, an account
              name “phil” on the domain “prwebconsulting.com” would be
              phil@prwebconsulting.com. Email accounts with your domain appear
              much more professional than email accounts on a public email
              service, such as those ending in @google.com. Some domain
              registrars and web hosting providers offer email services as well.
            </p>
            <p class="mt-4">
              Once you have registered a domain name and purchased a web hosting
              plan, you can upload your website's files to your web hosting
              provider's server. Once your website's files are uploaded, you can
              visit your website by typing your domain name into a web browser.
            </p>
            <p class="mt-4">
              Web hosting and domain registration are essential services for
              anyone who wants to create a website. By choosing the right web
              hosting plan and domain name, you can create a reliable, fast, and
              easy-to-find website.
            </p>
            <p class="mt-4">
              These services are available to anyone, and there are plenty of
              resources online to learn how to configure them. If you prefer a
              hands-off approach, I offer these services for $15 per month. This
              price may change depending on the domain chosen, as some domain
              names are more expensive than others.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
