<div id="{{selector|r}}" class="bg-zinc-950 text-gray-200">
  <div class="py-32 max-w-7xl px-4 md:px-16 lg:px-24 mx-auto">
    <div class="text-center pb-12">
      <p class="text-primary-400 text-4xl pb-4">Services</p>
    </div>
    <div>
      <p class="text-gray-400 text-xl text-center pb-8">
        At Gentlemen Custom Tailor, we offer a wide range of custom tailoring
        services
      </p>
      <div class="grid grid-cols-4 gap-8 text-center">
        <div
          class="flex items-center col-span-4 md:col-span-2 lg:col-span-1 bg-primary-100 text-primary-700 py-4 px-8 rounded-full text-xl font-serif"
        >
          <p class="text-center w-full">Custom Suits</p>
        </div>
        <div
          class="flex items-center col-span-4 md:col-span-2 lg:col-span-1 bg-primary-100 text-primary-700 py-4 px-8 rounded-full text-xl font-serif"
        >
          <p class="text-center w-full">Custom Shirts</p>
        </div>
        <div
          class="flex items-center col-span-4 md:col-span-2 lg:col-span-1 bg-primary-100 text-primary-700 py-4 px-8 rounded-full text-xl font-serif"
        >
          <p class="text-center w-full">Custom Eveningwear</p>
        </div>
        <div
          class="flex items-center col-span-4 md:col-span-2 lg:col-span-1 bg-primary-100 text-primary-700 py-4 px-8 rounded-full text-xl font-serif"
        >
          <p class="text-center w-full">Alterations</p>
        </div>
      </div>
      <div class="grid grid-cols-4 gap-8 text-center">
        <div class="col-span-4 md:col-span-2 lg:col-span-1">
          <div>
            <p class="p-4">
              We can create a custom suit for any occasion, from a business
              meeting to a formal event. We use only the finest fabrics and
              construction techniques to ensure that your suit is both stylish
              and durable.
            </p>
          </div>
        </div>
        <div class="col-span-4 md:col-span-2 lg:col-span-1">
          <div>
            <p class="p-4">
              We can create a custom shirt that fits you perfectly and flatters
              your figure. We offer a wide variety of fabrics and styles to
              choose from, so you can find the perfect shirt for your needs.
            </p>
          </div>
        </div>
        <div class="col-span-4 md:col-span-2 lg:col-span-1">
          <div>
            <p class="p-4">
              We can create a custom evening tuxedo for any special occasion. We
              will work with you to choose the perfect style and fabric for your
              look.
            </p>
          </div>
        </div>
        <div class="col-span-4 md:col-span-2 lg:col-span-1">
          <div>
            <p class="p-4">
              We offer a full range of alterations services, from simple hems to
              complex tailoring. We can help you get your favorite garments to
              fit you perfectly.
            </p>
          </div>
        </div>
      </div>
      <p class="text-gray-400 text-xl text-center pb-8">
        We also offer a number of other tailoring services, such as:
      </p>
      <div>
        <div class="pb-4">
          <p class="text-lg uppercase text-secondary-400">
            Patching and Repair
          </p>
          <p>We can patch and repair any tears or damage to your garments.</p>
        </div>
        <div class="pb-4">
          <p class="text-lg uppercase text-secondary-400">
            Hemming and shortening
          </p>
          <p>
            We can hem or shorten your pants and shirts to the perfect length.
          </p>
        </div>
        <div class="pb-4">
          <p class="text-lg uppercase text-secondary-400">
            Taking in and letting out
          </p>
          <p>We can take in or let out your garments to adjust the fit.</p>
        </div>
        <div class="pb-4">
          <p class="text-lg uppercase text-secondary-400">Button replacement</p>
          <p>We can replace any missing or broken buttons on your garments.</p>
        </div>
        <p class="text-gray-400 text-xl text-center pb-8 pt-4">
          If you have any garment that needs to be tailored, we can help. We are
          committed to providing our customers with the highest quality
          tailoring services possible.
        </p>
      </div>
    </div>
  </div>
</div>
