<div id="{{selector}}" class="bg-primary-900 text-gray-200">
  <div class="py-16 max-w-7xl mx-auto px-2 lg:px-16">
    <div class="text-center">
      <div class="text-white text-2xl md:text-3xl lg:text-4xl mb-8">
        Introducing a new standard in luxury fashion
      </div>
      <div class="lg:text-lg mb-8">
        <p class="mb-4">
          We believe that everyone deserves to look and feel their best. That's
          why we offer a wide range of made-to-measure garments, tailored to
          your individual style and measurements.
        </p>
        <p class="font-bold">
          Experience the difference of made-to-measure clothing.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-6">
      <div
        class="flex flex-col items-center bg-primary-700 border border-primary-300 rounded-xl hover:shadow-primary-600 hover:shadow-lg col-span-4 md:col-span-2 lg:col-span-1"
      >
        <picture>
          <source
            srcset="../img/suit.jpg?as=webp&width=400&height=400"
            media="(min-width: 1024px)"
          />
          <source
            srcset="../img/suit.jpg?as=webp&width=512&height=512"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/suit.jpg?as=webp&width=768&height=768"
            media="(min-width: 430px)"
          />
          <img
            src="../img/suit.jpg?as=webp&width=430&height=430"
            alt="suit"
            class="rounded-t-xl rounded-b-xl lg:rounded-b-none"
          />
        </picture>
        <p
          class="hidden lg:block text-3xl font-serif text-gray-200 text-center py-8"
        >
          Suits
        </p>
      </div>
      <div
        class="hidden lg:flex flex-col items-center bg-primary-700 border border-primary-300 rounded-xl hover:shadow-primary-600 hover:shadow-lg md:col-span-2 lg:col-span-1"
      >
        <picture>
          <source
            srcset="../img/tie-square.jpg?as=webp&width=400&height=400"
            media="(min-width: 1024px)"
          />
          <source
            srcset="../img/tie-square.jpg?as=webp&width=512&height=512"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/tie-square.jpg?as=webp&width=768&height=768"
            media="(min-width: 430px)"
          />
          <img
            src="../img/tie-square.jpg?as=webp&width=430&height=430"
            alt="suit"
            class="rounded-t-xl"
          />
        </picture>
        <p class="text-3xl font-serif text-gray-200 text-center py-8">Ties</p>
      </div>
      <div
        class="hidden md:flex flex-col items-center bg-primary-700 border border-primary-300 rounded-xl hover:shadow-primary-600 hover:shadow-lg col-span-4 md:col-span-2 lg:col-span-1"
      >
        <picture>
          <source
            srcset="../img/dress-shirt-2.jpg?as=webp&width=400&height=400"
            media="(min-width: 1024px)"
          />
          <source
            srcset="../img/dress-shirt-2.jpg?as=webp&width=512&height=512"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/dress-shirt-2.jpg?as=webp&width=768&height=768"
            media="(min-width: 430px)"
          />
          <img
            src="../img/dress-shirt-2.jpg?as=webp&width=430&height=430"
            alt="suit"
            class="rounded-t-xl rounded-b-xl lg:rounded-b-none"
          />
        </picture>
        <p
          class="hidden lg:block text-3xl font-serif text-gray-200 text-center py-8"
        >
          Shirts
        </p>
      </div>
      <div
        class="hidden lg:flex flex-col items-center bg-primary-700 border border-primary-300 rounded-xl hover:shadow-primary-600 hover:shadow-lg col-span-4 md:col-span-2 lg:col-span-1"
      >
        <picture>
          <source
            srcset="../img/sport-coat-square.jpg?as=webp&width=400&height=400"
            media="(min-width: 1024px)"
          />
          <source
            srcset="../img/sport-coat-square.jpg?as=webp&width=512&height=512"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/sport-coat-square.jpg?as=webp&width=768&height=768"
            media="(min-width: 430px)"
          />
          <img
            src="../img/sport-coat-square.jpg?as=webp&width=430&height=430"
            alt="suit"
            class="rounded-t-xl"
          />
        </picture>
        <p class="text-3xl font-serif text-gray-200 text-center py-8">
          Sport Coats
        </p>
      </div>
    </div>
    <div class="py-12 px-4 lg:px-24 text-center lg:text-lg">
      <p class="mb-4">
        From suits and shirts to ties and coats, we have something for everyone.
        And because our garments are made to your exact specifications, you can
        be sure that they will fit you perfectly and flatter your figure.
      </p>
      <p class="mb-4">
        But made-to-measure clothing is more than just about a good fit. It's
        also about the experience. When you work with us, you'll be treated to a
        truly personalized service. Our expert tailors will work with you to
        create a garment that reflects your unique style and personality.
      </p>
      <p class="mb-4">
        So if you're looking for clothing that is both stylish and flattering,
        then made-to-measure is the way to go.
      </p>
      <p class="mb-8">
        <a
          href="#"
          class="underline text-secondary-500 hover:text-secondary-700"
          >Contact us today</a
        >
        to learn more about our services and to schedule an appointment.
      </p>
      <p class="mb-4 font-bold">
        We hand-tailor a wide range of items, such as:
      </p>
      <ul>
        <li>Suits</li>
        <li>Ties</li>
        <li>Shirts</li>
        <li>Sport Coats</li>
        <li>Car Coats</li>
        <li>Top Coats</li>
        <li>Slacks</li>
        <li>Belts</li>
      </ul>
    </div>
    <div class="grid grid-cols-4 gap-6">
      <div
        class="hidden lg:flex flex-col items-center bg-primary-700 border border-primary-300 rounded-xl hover:shadow-primary-600 hover:shadow-lg col-span-4 md:col-span-2 lg:col-span-1"
      >
        <picture>
          <source
            srcset="../img/car-coat-square.jpg?as=webp&width=400&height=400"
            media="(min-width: 1024px)"
          />
          <source
            srcset="../img/car-coat-square.jpg?as=webp&width=512&height=512"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/car-coat-square.jpg?as=webp&width=768&height=768"
            media="(min-width: 430px)"
          />
          <img
            src="../img/car-coat-square.jpg?as=webp&width=430&height=430"
            alt="suit"
            class="rounded-t-xl"
          />
        </picture>
        <p class="text-3xl font-serif text-gray-200 text-center py-8">
          Car Coats
        </p>
      </div>
      <div
        class="flex flex-col items-center bg-primary-700 border border-primary-300 rounded-xl hover:shadow-primary-600 hover:shadow-lg col-span-4 md:col-span-2 lg:col-span-1"
      >
        <picture>
          <source
            srcset="../img/top-coat-2.jpeg?as=webp&width=400&height=400"
            media="(min-width: 1024px)"
          />
          <source
            srcset="../img/top-coat-2.jpeg?as=webp&width=512&height=512"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/top-coat-2.jpeg?as=webp&width=768&height=768"
            media="(min-width: 430px)"
          />
          <img
            src="../img/top-coat-2.jpeg?as=webp&width=430&height=430"
            alt="suit"
            class="rounded-t-xl rounded-b-xl lg:rounded-b-none"
          />
        </picture>
        <p
          class="hidden lg:block text-3xl font-serif text-gray-200 text-center py-8"
        >
          Top Coats
        </p>
      </div>
      <div
        class="hidden md:flex flex-col items-center bg-primary-700 border border-primary-300 rounded-xl hover:shadow-primary-600 hover:shadow-lg col-span-4 md:col-span-2 lg:col-span-1"
      >
        <picture>
          <source
            srcset="../img/dress-pants-square.jpg?as=webp&width=400&height=400"
            media="(min-width: 1024px)"
          />
          <source
            srcset="../img/dress-pants-square.jpg?as=webp&width=512&height=512"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/dress-pants-square.jpg?as=webp&width=768&height=768"
            media="(min-width: 430px)"
          />
          <img
            src="../img/dress-pants-square.jpg?as=webp&width=430&height=430"
            alt="suit"
            class="rounded-t-xl rounded-b-xl lg:rounded-b-none"
          />
        </picture>
        <p
          class="hidden lg:block text-3xl font-serif text-gray-200 text-center py-8"
        >
          Slacks
        </p>
      </div>
      <div
        class="hidden lg:flex flex-col items-center bg-primary-700 border border-primary-300 rounded-xl hover:shadow-primary-600 hover:shadow-lg col-span-4 md:col-span-2 lg:col-span-1"
      >
        <picture>
          <source
            srcset="../img/belt-square.jpg?as=webp&width=400&height=400"
            media="(min-width: 1024px)"
          />
          <source
            srcset="../img/belt-square.jpg?as=webp&width=512&height=512"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/belt-square.jpg?as=webp&width=768&height=768"
            media="(min-width: 430px)"
          />
          <img
            src="../img/belt-square.jpg?as=webp&width=430&height=430"
            alt="suit"
            class="rounded-t-xl"
          />
        </picture>
        <p class="text-3xl font-serif text-gray-200 text-center py-8">Belts</p>
      </div>
    </div>
    <div class="text-center pb-8 pt-16">
      <button
        class="py-4 px-8 text-secondary-500 border hover:shadow-sm hover:shadow-secondary-700 hover:border-secondary-300 border-secondary-500 hover:text-secondary-300 rounded-xl"
      >
        Book Your Appointment
      </button>
    </div>
  </div>
</div>
