<div id="text-2" class="bg-gray-700" data-height="328">
  <div class="grid grid-cols-12 py-32 max-w-7xl mx-auto px-8 gap-4">
    <div class="lg:col-span-7 col-span-12 order-2 lg:order-1">
      <p class="text-gray-100">
        I'm Phil. I am a web developer with over 10 years of experience. I live
        in Richmond, KY and primarily work with small business owners in Madison
        County. I love helping small businesses grow by utilizing the latest
        technology.
      </p>
      <a href="#">
        <button class="btn-light p-2 rounded my-4">Learn More</button>
      </a>
    </div>
    <div
      class="lg:col-span-5 col-span-12 text-gray-100 lg:text-right order-1 lg:order-2"
    >
      <p class="text-secondary-200 uppercase">About Me</p>
      <h2 class="text-3xl font-serif">Who I Am</h2>
    </div>
  </div>
</div>
