@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

pre {
  overflow-x: auto !important;
}

pre code {
  overflow-wrap: normal;
  word-wrap: normal;
  white-space: pre;
}

.fancy-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #121518;
  text-shadow: 3px 3px 0 #dbdddf;
  font-weight: bold;
}

h1.fancy-text, h2.fancy-text, h3.fancy-text, .text-6xl.fancy-text, .text-5xl.fancy-text, .text-7xl.fancy-text {
  text-shadow: 5px 5px 0 #dbdddf;
}
