@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('../fonts/Inter-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-display: swap;
}

@layer components {
  .btn-hollow {
    background-color: theme('colors.white');
    color: theme('colors.primary.700');
    border-width: 1px;
    border-color: theme('colors.primary.700');
  }

  .btn-hollow:hover {
    background-color: theme('colors.gray.100');
    color: theme('colors.primary.900');
    border-color: theme('colors.primary.900');
  }

  .btn {
    background-color: theme('colors.primary.500');
    color: theme('colors.gray.900');
  }

  .btn:hover {
    background-color: theme('colors.primary.700');
    color: theme('colors.white');
  }

  .btn-md {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .link-text {
    color: theme('colors.primary.800');
  }

  .link-text:hover {
    background-color: theme('colors.primary.700');
    color: theme('colors.white');
  }

  .link-text-active {
    background-color: theme('colors.primary.700');
    color: theme('colors.white');
  }

  .link-text-active:hover {
    background-color: theme('colors.primary.800');
    color: theme('colors.white');
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

pre {
  overflow-x: auto !important;
}

pre code {
  overflow-wrap: normal;
  word-wrap: normal;
  white-space: pre;
}

.fancy-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #121518;
  text-shadow: 3px 3px 0 #dbdddf;
  font-weight: bold;
}

h1.fancy-text, h2.fancy-text, h3.fancy-text, .text-6xl.fancy-text, .text-5xl.fancy-text, .text-7xl.fancy-text {
  text-shadow: 5px 5px 0 #dbdddf;
}
